#new-advert-page {
  margin: 4rem 0;
  .header {
    h2 {
      font-weight: 600;
    }
  }

  .body {
    .columns {
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-columns: 1fr 1fr;
      gap: 5rem;

      .input-container {
        margin-top: 2rem;
        label {
          font-weight: 600;
        }
      }
    }
    .footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: 3rem;
    }
  }
}
